/*字体引入*/
@font-face {
    font-family: Roboto;

    src: url("../fonts/gadugi.ttf");
}
@font-face {
    font-family: CN;

    src: url("../fonts/gadugib.ttf");
}

/*end字体引入*/
.showInline {
    display: inline;
}

html,
body {
    height: 100%;
}
body {
    -webkit-perspective: 200px;
       -moz-perspective: 200px;
            perspective: 200px;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*图片旋转*/
.stage {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
}
.main-div-background {
    overflow: hidden;

    width: 100%;
    height: 100%;
    /*z-index: -1;*/

    -webkit-transition: -webkit-transform 1s;
       -moz-transition:    -moz-transform 1s;
            transition:         transform 1s;

    -webkit-perspective: 200px;
       -moz-perspective: 200px;
            perspective: 200px;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.main-background {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -800px 0 0 -1250px;
    width: 100%;
    width: 2500px;
    height: 100%;
    height: 1600px;

    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center 708px;
            transform-origin: center 708px;
    -webkit-animation: p1bg_effect1 270s both infinite linear;
            animation: p1bg_effect1 270s both infinite linear;
}
@media only screen and (max-width: 1599px) and (min-width: 1024px) {
    .main-background {
        -webkit-transform: scale(.875);
                transform: scale(.875);
    }
    .main-background {
        top: 55%;
    }
}
@media only screen and (max-width: 1023px) {
    .main-background {
        -webkit-transform: scale(.5);
                transform: scale(.5);
    }
    .main-background {
        top: 60%;
    }
}

/*end图片旋转*/

/** 导航栏 **/
.list-button {
    width: 18px;
}
.navbar-default {
    position: fixed;
    z-index: 3;

    width: 100%;
}
.anotherSet a {
    font-size: 16px;
    font-weight: 300;

    color: #0900cb;
}
.join {
    display: inline;

    margin-left: 15px;
    border-radius: 4px;
    padding: 0 10px;

    font-size: 16px;
    font-weight: 600;
    /*border: 1px solid #0900cb;*/
    line-height: 50px;

    color: #0900cb;

    box-shadow: 0 0 2px 2px #0900cb;
}
.join:focus,
.join:hover,
.join:visited {
    text-decoration: none;
}
.apply-main-hide {
    display: none;
}
.apply-main-show {
    display: block;
}

@media (max-width: 767px) {
    .collapse-background-set {
        background-color: white;
    }
}
@media (min-width: 768px) and (max-width: 956px) {
    .join {
        font-size: 10px;
    }
    .anotherSet a {
        font-size: 10px;
    }
    .navbar-nav {
        margin-left: 5%;
    }
}
@media (min-width: 767px) {
    .show-in-phone1 {
        display: none;
    }
    .show-in-pc1 {
        display: block;
    }
}
@media (max-width: 767px) {
    .show-in-pc1 {
        display: none;
    }
    .show-in-phone1 {
        display: block;

        margin: 0;
        padding: 28% 0 20% 0;
        width: 100%;
        height: 100%;

        text-align: center;

        background: url("../images/BACKGROUND@2x.png")  no-repeat;
        background-size: cover;
    }
    .back {
        margin-top: 13%;
        width: 18%;
    }
    .show-in-phone1 > li {
        display: inline-block;

        list-style: none;

        margin-top: 8%;
        width: 32%;

        text-align: center;
    }
    .show-in-phone1 > li > a {
        text-decoration: none;
    }
    .show-in-phone1 > li > a > img {
        width: 54%;
        height: 100%;
    }
    .phone-set {
        margin: 0;
        padding: 0;
    }
}
.begin {
    animation: start 1s ease-out 0s 1;
}
/** end 导航栏 **/

/** 右边的点 **/
.side-list {
    list-style: none;

    position: fixed;
    top: 34%;
    right: 30px;
    z-index: 4;

    padding: 0;
    width: 100px;
    height: 350px;
}
.side-list > li {
    height: 50px;

    line-height: 50px;
    text-align: right;

    color: #575794;
}
.point {
    display: inline-block;

    margin-bottom: 2px;
    margin-left: 20px;
    border-radius: 50%;
    width: 6px;
    height: 6px;

    box-shadow: 0 0 3px 4px #575794;

    cursor: pointer;
}
.active-show {
    background-color: #0800b5;
}

@media (max-width: 768px) {
    .side-list {
        display: none;
    }
}
/** end 右边的点 **/
.network {
    display: none;
}
/** 主页 **/
.main-index {
    position: relative;

    width: 100%;
    height: 100%;

    animation: start 1s ease-out 0s 1;
}

.main-index > div {
    position: absolute;

    width: 100%;

    text-align: center;

    background: url("../images/QGlogoBackground.png")  no-repeat;
    background-position: center;
}
.main-index > div  .title {
    font-family: Roboto;
    font-size: 650%;
    font-weight: 700;

    color: #100d5b;
}
.main-index > div  .apply-web {
    font-family: CN;
    font-size: 30px;

    color: #100d5b;
}
.sayings {
    margin-top: 22px;
    padding-top: 42px;

    font-family: CN;
    font-size: 36px;

    color: #100d5b;
    background: url("../images/division.png") no-repeat;
    background-position: center top;
}
.join-us {
    margin-top: 28px;

    font-size: 190%;
}
.join-us a:hover,
.join-us a:visited,
.join-us a:focus {
    text-decoration: none;

    color: #100d5b;
}
.join-us a {
    display: inline-block;

    border-radius: 4px;
    padding: 6px 34px;

    font-weight: 600;
    text-decoration: none;

    color: #100d5b;

    box-shadow: 0 0 2px 2px #100d5b;
}
.next-page {
    margin-top: 20px;
}
.next-page > a {
    position: relative;
    top: 24px;
}
.show-in-phone {
    display: none;
}
.show-in-phone2 {
    display: none;
}
@media (min-width: 767px) {
    .main-index > div  .title {
        margin-top: 5%;

        font-size: 1000%;
    }
    .sayings {
        font-size: 36px;
    }
}
@media (max-width: 767px) {
    .main-index > div  .title {
        margin-top: 14%;

        font-size: 500%;
    }
    .sayings {
        font-size: 200%;

        background-size: 120%;
    }
    .main-index > div  .apply-web {
        font-size: 114%;
    }
}

@media (max-width: 1025px) {
    .join-us a {
        font-weight: 400;

        color: white;
        background-color: #5da6ff;

        box-shadow: 0 0 0 0 #100d5b;
    }
    .join-us a:hover,
    .join-us a:visited,
    .join-us a:focus {
        color: white;
    }
    .show-in-phone2 {
        display: block;
    }
    .join-us {
        margin-top: 80px;
    }
    .next-page {
        right: 50%;
        bottom: -22%;

        margin-top: 16%;
    }
    .show-in-pc {
        display: none;
    }
    .show-in-phone {
        display: block;
    }
}
/** end 主页 **/

.title-first-word {
    color: #100d5b;
}
.title-other-word {
    color: #818181;
}
/** 各组介绍 **/
.network {
    position: relative;

    width: 100%;
    height: 100%;

    background: url("../images/background2.png") no-repeat;
    background-size: 100% 100%;
}
.table {
    position: relative;

    width: 100%;
    height: 100%;

    background: url("../images/background2.png") no-repeat;
    background-size: 100% 100%;
}
#android,
#embedded {
    width: 100%;
    height: 100%;

    background: url("../images/background3.png") no-repeat;
    background-size: 100% 100%;
}

#handgame {
    width: 100%;
    height: 100%;

    background: url("../images/background4.png") no-repeat;
    background-size: 100% 100%;
}
#data {
    width: 100%;
    height: 100%;

    background: url("../images/background4.png") no-repeat;
    background-size: 100% 100%;
}
.network > ul {
    display: flex;

    list-style: none;

    position: relative;
    top: 10%;

    margin: 0 auto;
    padding: 0;
    width: 60%;
    height: 80%;
}


.network-introduce {
    margin-top: 10%;

    font-size: 133%;
    font-weight: 600;
    line-height: 26px;
    text-indent: 2em;

    color: #020025;
}
.network-left-title-first {
    background: url("../images/titleIcon1.png") no-repeat;
    background-position: 96% center;
}
.network-left-title-second {
    font-weight: 500;
    text-align: right;

    color: #100d5b;
    background: url("../images/titleIcon2.png") no-repeat;
    background-position: center left;
}
.network-photo-first {
    width: 100%;
}
.network-right {
    display: none;
}
@media (max-width: 767px) {
    .network-left-title {
        width: 50%;
    }
    .network-left-title-first {
        font-size: 295%;

        background-size: 23%;
    }
    .network-left-title-second {
        font-size: 153%;

        background-size: 45%;
    }
    .network-left {
        width: 100%;
        height: 100%;
    }
    .network,
    #android,
    #handgame,
    #data,
    #embedded {
        position: relative;

        width: 100%;
        height: 100%;

        background: url("../images/background5.png") no-repeat;
        background-size: 100% 100%;
    }
}

@media (min-width: 1024px) {
    .network-left {
        width: 39%;
        height: 100%;
    }
    .network-left-title {
        width: 100%;
    }
    .network-left-title-first {
        margin: 0;

        font-size: 500%;
    }
    .network-left-title {
        margin-top: 25%;
        width: 80%;
    }
    .network-left-title-second {
        font-size: 200%;
        font-weight: 600;

        background: url("../images/titleIcon2.png") no-repeat;
        background-position: center left;
    }
    .network-photo-first {
        display: none;
    }
    .network-right {
        display: inline-block;

        width: 59%;
    }
}
/*** 图片在左边 ***/
.network-left-second {
    display: inline-block;
    float: right;
}
@media (min-width: 1024px) {
    .network-right-second {
        margin-top: 16%;
        padding: 1em 4em;
        width: 59%;
        height: 65%;

        text-align: right;
    }
}

/***** 嵌入式和数据挖掘的title字体 ****/
@media (min-width: 1024px) {
    .network-left-second-embedded {
        font-size: 95%;
    }
    .network-left-second-data {
        font-size: 82%;
    }
    .network-left-title-data {
        width: 85%;
    }
}
/***** end嵌入式和数据挖掘的title字体 ****/

/*** end图片在左边 ***/

/*** 图片在右边 ***/
.network-left-first {
    display: inline-block;
}
@media (min-width: 1024px) {
    .network-right-first {
        margin-top: 18%;
        padding: 1em 4em;
        width: 55%;
        height: 78%;

        text-align: right;
    }
    body {
        overflow: hidden;

        margin: 0;
    }
}
/*** end图片在右边 ***/


/** end 各组介绍 **/
.photo {
    width: 100%;
}
.network-photo-second {
    width: 100%;
}

@media (max-width: 767px) {
    .network-introduce {
        margin-top: 10%;

        font-size: 100%;
        line-height: 26px;

        color: #020025;
    }
}
@media (min-width: 1024px) {
    .main-con {
        top: 50%;

        margin: -308px 0 0 0;
    }
}
